@import url("../assets/fonts/Montserrat-Regular.ttf");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenidor {
  flex: 1;
}

/* Capsalera de la web */
header {
  padding: 10px 0;
}

header .contenidor {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

header .contenidor .opcions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

header .contenidor .opcions .menu a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 1.2em;
  text-transform: none;
  color: inherit;
  margin-right: 25px;
}

.logo {
  width: 200px;
  height: auto;
}

.pagina-activa {
  color: #4caf50 !important;
  /* verd sostenible */
}

/* Cos de la WEB */
body .contenidor {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

body section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

body section article {
  width: 50%;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.87);
}

h3 {
  font-size: 1.8rem;
  color: #4caf50;
  /* verd sostenible */
  margin-bottom: 20px;
}

body section img {
  max-width: auto;
  height: 350px;
  border-radius: 50%;
}

body section.horizontal {
  position: relative;
  gap: 20px;
  align-items: flex-start;
  padding: 15px 0;
}

body section.horizontal article img {
  border-radius: 0;
  height: 100px;
}

body section.horizontal article,
body section.horizontal article a {
  color: #062743;
  font-weight: 700;
  text-decoration: none;
}

body section.horizontal article h4 {
  font-size: 1.7rem;
  color: #062743;
  margin-bottom: 10px;
  font-weight: 700;
}

body section.horizontal article .img-lateral {
  display: flex;
  gap: 15px;
}

body section.horizontal::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  /* vw para ventana horizontal vh para vertical */
  width: 100vw;
  height: 100%;
  background: #ffb727;
  z-index: -1;
}

#mapa {
  border: 2px solid #a5d6a7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 600px;
  min-width: 1200px;
  max-width: 1200px;
  margin-top: 20px;
}

/* Galería */
.galeria-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.galeria-item {
  margin-bottom: 40px;
  text-align: center;
}

.galeria-item p {
  font-weight: bold;
  margin-bottom: 10px;
}

.galeria-item img {
  max-width: 100%;
  height: auto;
  border: 2px solid #c8e6c9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*curiositats*/
.curiositats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.curiositats h5 {
  font-size: 2rem;
  color: #4caf50;
  /* verd sostenible */
  margin-bottom: 20px;
}

.curiositats p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.galeria_curiositats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.galeria_curiositats div {
  text-align: center;
}

.galeria_curiositats p {
  font-weight: bold;
  margin-bottom: 10px;
}

.galeria_curiositats img {
  width: 800px;
  height: auto;
  object-fit: cover;
  border-radius: 0 !important;
  border: 2px solid #c8e6c9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*quiSOm*/
.intro-quiSom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  border-radius: 1rem;
  line-height: 1.8;

}
#eslogan-equip{
  color: #0b487e;
  text-align: center;
  font-size: 1.8rem;
}
.intro-quiSom>section {
  display: block;
}

#titol-equip {
  font-size: 2.1rem;
  color: #4caf50;
  width: 100%;
  text-align: center;
}
#titol2-equip, h4{
  font-size: 1.4rem;
  color: rgb(1, 103, 174);
  padding-bottom: 15px;
}
.grup p{
  padding-bottom: 10px;
  line-height: 1.4;
  padding-left: 10px;
  padding-right: 10px;

}

.grup div {
  text-align: center;        /* Centra el contenido horizontalmente */
  padding: 10px;           /* Añade espacio interior */
  margin: 10px;
  border-radius: 1rem;
  background-color: #f9f9f9; /* Opcional: fondo suave para mejor visual */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra sutil */
}

.grup div img {
  width: 175px;              /* Tamaño de imagen ajustado */
  height: auto;
  object-fit: cover;
  border-radius: 50%;        /* Imagen circular */
  margin-bottom: 1rem;
}

/*Botones*/

.button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/*footer*/
footer {
  background-color: rgb(170, 123, 69);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

footer address {
  font-style: normal;
  text-align: center;
}
.ods-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f4fef4;
  border-left: 5px solid #4caf50;
  border-radius: 4px;
}
